* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: black;
  }
  
  .navbar {
    
  }
  
  .navbar__company-brand {
    
  }
  
  .company-brand__name {
    
  }
  
  .navbar__nav-link {
    
    
  }
  
  .nav-link__link-list {
    display: flex;
    list-style: none;
    padding-right: 10px;
    border-right: 2px solid black;
  }

  li {
    margin-left: 20px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .nav-link__register {
    margin: 0px 20px;
    padding: 2px 6px;
    border-radius: 50px;
    background-color: #465c7c;
  }
  
  .register__link {
    color: white;
  }
  .hero-section{
    position: relative;
    height: 100vh;
    width: 100vw;
  }
  .hero-section__image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .hero-section__content{
    position: absolute;
    top: 20%;
    left: 6%;
    color:rgb(32, 26, 26) ;
    z-index: 20;
    background: white;
    padding: 20px;
    border-radius: 10px;
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  .hero-section__content h4{
    font-size: 22px;
  }
  .hero-section__more-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .hero-section__more-detail button{
    color: #000103;
    background-color: rgb(53, 240, 231);
    padding: 7px 20px;

    border-radius:10px ;
    border:none ;
}

.pic{
  position: relative;
  background-color: white;
    height: 100vh;
    width: 100vw;
}

.pic-pic{
  background-color: black;
  color: white;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}